
.home-container{
display: flex;
justify-content: space-between;
margin: 20px;

}
 .home-moto-text{
   
    margin-top: 100px;

}
.home-moto-text h2{
    font-size: 60px;
    font-weight: bold;
     line-height: 100%; 
}
.home-moto-details p{
   font-size: 25px;
   margin-top: 10px;
} 

.home-image img{
    height: 650px;
    width: 1020px;

}
/* .reviews-items{
   
} */