.header-nav a{
    margin-right: 50px;
    color: #556B2F;
    font-size: large;
    font: bold;
    font-size: 20px;
}
.header-nav a:hover{
    color: orange;
}
.header-nav{
    background-color: #F0F8FF;
    padding: 20px;
}